<a href="https://colab.research.google.com/github/jagrutimohanty/SQLandDataframePreprocess/blob/main/Colabanddocumentation/DataPreprocessingincollab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Implemented the following :
1. Loading the multiple datafiles using python
2. Loading SQLite DB to Dataframe
3. Wrting dataframe into the SQLite Database 
4. Given two dataframes returned the common columns
5. Based on user input output of Nth percentile of numerical columns in dataframe

### Broiler Plate for the code

Before implementing the the steps in the flask application worked the implementation of the following in collab notebook

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import RobustScaler
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from keras.utils import np_utils
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV

In [3]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import os
import time

from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import RobustScaler, StandardScaler, MinMaxScaler
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_moons, make_circles, make_classification
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import KFold
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import confusion_matrix
from prettytable import PrettyTable
from google.colab import drive
from keras.utils import np_utils
from matplotlib.pyplot import figure
from imblearn.over_sampling import SMOTENC, SMOTE 
from matplotlib.colors import ListedColormap

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning:

The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning:

The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.

In [4]:
#Authenticate and create the PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
#Get the Shareable file link and get the contents
downloaded = drive.CreateFile({'id':"1xqwQDU50bRg17GhRWINbFldCLqCEIM77"})   
downloaded.GetContentFile('world-happiness-report-2021.csv')

In [ ]:

report21_df  = pd.read_csv('world-happiness-report-2021.csv', sep=',')
report21_df.head()

  Country name  ... Dystopia + residual
0      Finland  ...               3.253
1      Denmark  ...               2.868
2  Switzerland  ...               2.839
3      Iceland  ...               2.967
4  Netherlands  ...               2.798

[5 rows x 20 columns]

In [ ]:
report21_df.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [ ]:
#Get the Shareable file link and get the contents
downloaded = drive.CreateFile({'id':"1vu5_rKxFZmAGnA24kssELqhTuOMLL46p"})   
downloaded.GetContentFile('world-happiness-report.csv')

In [ ]:

happiness_df = pd.read_csv('world-happiness-report.csv', sep=',')
happiness_df.head()

  Country name  year  ...  Positive affect  Negative affect
0  Afghanistan  2008  ...            0.518            0.258
1  Afghanistan  2009  ...            0.584            0.237
2  Afghanistan  2010  ...            0.618            0.275
3  Afghanistan  2011  ...            0.611            0.267
4  Afghanistan  2012  ...            0.710            0.268

[5 rows x 11 columns]

In [ ]:
arr = list(report21_df.columns)
sql_report_df = report21_df[arr[0:5]]
print( arr[0:5])

sql_report_df

['Country name', 'Regional indicator', 'Ladder score', 'Standard error of ladder score', 'upperwhisker']

    Country name  ... upperwhisker
0        Finland  ...        7.904
1        Denmark  ...        7.687
2    Switzerland  ...        7.643
3        Iceland  ...        7.670
4    Netherlands  ...        7.518
..           ...  ...          ...
144      Lesotho  ...        3.748
145     Botswana  ...        3.611
146       Rwanda  ...        3.548
147     Zimbabwe  ...        3.259
148  Afghanistan  ...        2.596

[149 rows x 5 columns]

# Listed the common columns of the two dataframes

In [ ]:
common_columns = list(set(list(report21_df.columns) + list(happiness_df.columns)))

print(report21_df.shape)
print(happiness_df.shape)
print(len(common_columns))

(149, 20)
(1949, 11)
26

In [ ]:
#https://www.fullstackpython.com/blog/export-pandas-dataframes-sqlite-sqlalchemy.html

#python -m venv pandasexport
#source pandasexport/bin/activate

#pip install pandas==1.0.3 sqlalchemy==1.3.15

In [ ]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.3)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (3.8.1)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy) (3.7.4.3)

In [ ]:
from sqlalchemy import create_engine

Create the connection using the imported create_engine function and then invoking the connect method on it.

In [ ]:
engine = create_engine('sqlite:///save_pandas.db', echo=True)
sqlite_connection = engine.connect()

# from Dataframe into SQL

In [ ]:
sqlite_table = "report21_db"
sql_report_df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2021-04-10 05:49:15,243 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("report21_db")
2021-04-10 05:49:15,245 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-04-10 05:49:15,249 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("report21_db")
2021-04-10 05:49:15,251 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-04-10 05:49:15,257 INFO sqlalchemy.engine.Engine
CREATE TABLE report21_db (
	"index" BIGINT,
	"Country name" TEXT,
	"Regional indicator" TEXT,
	"Ladder score" FLOAT,
	"Standard error of ladder score" FLOAT,
	upperwhisker FLOAT
)


2021-04-10 05:49:15,259 INFO sqlalchemy.engine.Engine [no key 0.00215s] ()
2021-04-10 05:49:15,278 INFO sqlalchemy.engine.Engine COMMIT
2021-04-10 05:49:15,280 INFO sqlalchemy.engine.Engine CREATE INDEX ix_report21_db_index ON report21_db ("index")
2021-04-10 05:49:15,283 INFO sqlalchemy.engine.Engine [no key 0.00270s] ()
2021-04-10 05:49:15,298 INFO sqlalchemy.engine.Engine COMMIT
2021-04-10 05:49:15,302 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-10 05:49:15,315 INFO sqlalchemy.engine.Engine INSERT INTO report21_db ("index", "Country name", "Regional indicator", "Ladder score", "Standard error of ladder score", upperwhisker) VALUES (?, ?, ?, ?, ?, ?)
2021-04-10 05:49:15,318 INFO sqlalchemy.engine.Engine [generated in 0.00537s] ((0, 'Finland', 'Western Europe', 7.8420000000000005, 0.032, 7.904), (1, 'Denmark', 'Western Europe', 7.62, 0.035, 7.687), (2, 'Switzerland', 'Western Europe', 7.571000000000001, 0.036000000000000004, 7.643), (3, 'Iceland', 'Western Europe', 7.553999999999999, 0.059000000000000004, 7.67), (4, 'Netherlands', 'Western Europe', 7.4639999999999995, 0.027000000000000003, 7.518), (5, 'Norway', 'Western Europe', 7.392, 0.035, 7.462000000000001), (6, 'Sweden', 'Western Europe', 7.3629999999999995, 0.036000000000000004, 7.433), (7, 'Luxembourg', 'Western Europe', 7.324, 0.037000000000000005, 7.396)  ... displaying 10 of 149 total bound parameter sets ...  (147, 'Zimbabwe', 'Sub-Saharan Africa', 3.145, 0.057999999999999996, 3.259), (148, 'Afghanistan', 'South Asia', 2.523, 0.038, 2.596))
2021-04-10 05:49:15,327 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
sqlite_connection.close()

In [ ]:
sqlite_connection = engine.connect()
r_set=sqlite_connection.execute('''select name from sqlite_master 
		where type = 'table' ''')
for row in r_set:
    print(row)

2021-04-10 06:41:40,343 INFO sqlalchemy.engine.Engine select name from sqlite_master
		where type = 'table'

INFO:sqlalchemy.engine.Engine:select name from sqlite_master
		where type = 'table'

2021-04-10 06:41:40,347 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

('report21_db',)

In [ ]:
r_set=sqlite_connection.execute('''SELECT * from report21_db''');
for row in r_set:
    print(row)

2021-04-10 06:04:19,129 INFO sqlalchemy.engine.Engine SELECT * from report21_db

INFO:sqlalchemy.engine.Engine:SELECT * from report21_db

2021-04-10 06:04:19,136 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

(0, 'Finland', 'Western Europe', 7.8420000000000005, 0.032, 7.904)
(1, 'Denmark', 'Western Europe', 7.62, 0.035, 7.687)
(2, 'Switzerland', 'Western Europe', 7.571000000000001, 0.036000000000000004, 7.643)
(3, 'Iceland', 'Western Europe', 7.553999999999999, 0.059000000000000004, 7.67)
(4, 'Netherlands', 'Western Europe', 7.4639999999999995, 0.027000000000000003, 7.518)
(5, 'Norway', 'Western Europe', 7.392, 0.035, 7.462000000000001)
(6, 'Sweden', 'Western Europe', 7.3629999999999995, 0.036000000000000004, 7.433)
(7, 'Luxembourg', 'Western Europe', 7.324, 0.037000000000000005, 7.396)
(8, 'New Zealand', 'North America and ANZ', 7.277, 0.04, 7.355)
(9, 'Austria', 'Western Europe', 7.268, 0.036000000000000004, 7.337000000000001)
(10, 'Australia', 'North America and ANZ', 7.183, 0.040999999999999995, 7.265)
(11, 'Israel', 'Middle East and North Africa', 7.157, 0.034, 7.224)
(12, 'Germany', 'Western Europe', 7.155, 0.04, 7.232)
(13, 'Canada', 'North America and ANZ', 7.103, 0.042, 7.185)
(14, 'Ireland', 'Western Europe', 7.085, 0.04, 7.164)
(15, 'Costa Rica', 'Latin America and Caribbean', 7.069, 0.055999999999999994, 7.178999999999999)
(16, 'United Kingdom', 'Western Europe', 7.064, 0.038, 7.138)
(17, 'Czech Republic', 'Central and Eastern Europe', 6.965, 0.049, 7.062)
(18, 'United States', 'North America and ANZ', 6.9510000000000005, 0.049, 7.047000000000001)
(19, 'Belgium', 'Western Europe', 6.834, 0.034, 6.901)
(20, 'France', 'Western Europe', 6.69, 0.037000000000000005, 6.7620000000000005)
(21, 'Bahrain', 'Middle East and North Africa', 6.647, 0.068, 6.779)
(22, 'Malta', 'Western Europe', 6.602, 0.044000000000000004, 6.688)
(23, 'Taiwan Province of China', 'East Asia', 6.584, 0.038, 6.659)
(24, 'United Arab Emirates', 'Middle East and North Africa', 6.561, 0.039, 6.6370000000000005)
(25, 'Saudi Arabia', 'Middle East and North Africa', 6.494, 0.055999999999999994, 6.604)
(26, 'Spain', 'Western Europe', 6.4910000000000005, 0.042, 6.574)
(27, 'Italy', 'Western Europe', 6.483, 0.045, 6.572)
(28, 'Slovenia', 'Central and Eastern Europe', 6.461, 0.043, 6.546)
(29, 'Guatemala', 'Latin America and Caribbean', 6.435, 0.073, 6.577000000000001)
(30, 'Uruguay', 'Latin America and Caribbean', 6.431, 0.046, 6.521)
(31, 'Singapore', 'Southeast Asia', 6.377000000000001, 0.043, 6.46)
(32, 'Kosovo', 'Central and Eastern Europe', 6.372000000000001, 0.059000000000000004, 6.487)
(33, 'Slovakia', 'Central and Eastern Europe', 6.331, 0.040999999999999995, 6.4110000000000005)
(34, 'Brazil', 'Latin America and Caribbean', 6.33, 0.043, 6.415)
(35, 'Mexico', 'Latin America and Caribbean', 6.317, 0.053, 6.42)
(36, 'Jamaica', 'Latin America and Caribbean', 6.309, 0.156, 6.615)
(37, 'Lithuania', 'Central and Eastern Europe', 6.255, 0.045, 6.343999999999999)
(38, 'Cyprus', 'Western Europe', 6.223, 0.049, 6.319)
(39, 'Estonia', 'Central and Eastern Europe', 6.189, 0.038, 6.263)
(40, 'Panama', 'Latin America and Caribbean', 6.18, 0.073, 6.3229999999999995)
(41, 'Uzbekistan', 'Commonwealth of Independent States', 6.178999999999999, 0.068, 6.312)
(42, 'Chile', 'Latin America and Caribbean', 6.172000000000001, 0.046, 6.2620000000000005)
(43, 'Poland', 'Central and Eastern Europe', 6.166, 0.04, 6.245)
(44, 'Kazakhstan', 'Commonwealth of Independent States', 6.152, 0.047, 6.242999999999999)
(45, 'Romania', 'Central and Eastern Europe', 6.14, 0.057, 6.252999999999999)
(46, 'Kuwait', 'Middle East and North Africa', 6.106, 0.066, 6.235)
(47, 'Serbia', 'Central and Eastern Europe', 6.077999999999999, 0.053, 6.181)
(48, 'El Salvador', 'Latin America and Caribbean', 6.061, 0.065, 6.188)
(49, 'Mauritius', 'Sub-Saharan Africa', 6.0489999999999995, 0.059000000000000004, 6.165)
(50, 'Latvia', 'Central and Eastern Europe', 6.032, 0.036000000000000004, 6.103)
(51, 'Colombia', 'Latin America and Caribbean', 6.0120000000000005, 0.061, 6.132000000000001)
(52, 'Hungary', 'Central and Eastern Europe', 5.992000000000001, 0.047, 6.085)
(53, 'Thailand', 'Southeast Asia', 5.985, 0.047, 6.077000000000001)
(54, 'Nicaragua', 'Latin America and Caribbean', 5.972, 0.083, 6.1339999999999995)
(55, 'Japan', 'East Asia', 5.94, 0.04, 6.02)
(56, 'Argentina', 'Latin America and Caribbean', 5.928999999999999, 0.055999999999999994, 6.04)
(57, 'Portugal', 'Western Europe', 5.928999999999999, 0.055, 6.037000000000001)
(58, 'Honduras', 'Latin America and Caribbean', 5.919, 0.08199999999999999, 6.081)
(59, 'Croatia', 'Central and Eastern Europe', 5.882000000000001, 0.048, 5.975)
(60, 'Philippines', 'Southeast Asia', 5.88, 0.052000000000000005, 5.982)
(61, 'South Korea', 'East Asia', 5.845, 0.042, 5.928)
(62, 'Peru', 'Latin America and Caribbean', 5.84, 0.075, 5.9879999999999995)
(63, 'Bosnia and Herzegovina', 'Central and Eastern Europe', 5.813, 0.05, 5.9110000000000005)
(64, 'Moldova', 'Commonwealth of Independent States', 5.766, 0.046, 5.856)
(65, 'Ecuador', 'Latin America and Caribbean', 5.763999999999999, 0.057, 5.875)
(66, 'Kyrgyzstan', 'Commonwealth of Independent States', 5.744, 0.046, 5.834)
(67, 'Greece', 'Western Europe', 5.723, 0.046, 5.813)
(68, 'Bolivia', 'Latin America and Caribbean', 5.716, 0.053, 5.819)
(69, 'Mongolia', 'East Asia', 5.6770000000000005, 0.042, 5.76)
(70, 'Paraguay', 'Latin America and Caribbean', 5.653, 0.092, 5.832000000000001)
(71, 'Montenegro', 'Central and Eastern Europe', 5.581, 0.054000000000000006, 5.686)
(72, 'Dominican Republic', 'Latin America and Caribbean', 5.545, 0.071, 5.685)
(73, 'North Cyprus', 'Western Europe', 5.5360000000000005, 0.051, 5.636)
(74, 'Belarus', 'Commonwealth of Independent States', 5.534, 0.047, 5.625)
(75, 'Russia', 'Commonwealth of Independent States', 5.477, 0.033, 5.541)
(76, 'Hong Kong S.A.R. of China', 'East Asia', 5.477, 0.049, 5.5729999999999995)
(77, 'Tajikistan', 'Commonwealth of Independent States', 5.466, 0.034, 5.532)
(78, 'Vietnam', 'Southeast Asia', 5.4110000000000005, 0.039, 5.4879999999999995)
(79, 'Libya', 'Middle East and North Africa', 5.41, 0.076, 5.558)
(80, 'Malaysia', 'Southeast Asia', 5.3839999999999995, 0.049, 5.48)
(81, 'Indonesia', 'Southeast Asia', 5.345, 0.055999999999999994, 5.454)
(82, 'Congo (Brazzaville)', 'Sub-Saharan Africa', 5.3420000000000005, 0.09699999999999999, 5.5329999999999995)
(83, 'China', 'East Asia', 5.3389999999999995, 0.028999999999999998, 5.397)
(84, 'Ivory Coast', 'Sub-Saharan Africa', 5.306, 0.078, 5.46)
(85, 'Armenia', 'Commonwealth of Independent States', 5.2829999999999995, 0.057999999999999996, 5.397)
(86, 'Nepal', 'South Asia', 5.269, 0.07, 5.406000000000001)
(87, 'Bulgaria', 'Central and Eastern Europe', 5.266, 0.054000000000000006, 5.371)
(88, 'Maldives', 'South Asia', 5.1979999999999995, 0.07200000000000001, 5.3389999999999995)
(89, 'Azerbaijan', 'Commonwealth of Independent States', 5.171, 0.04, 5.25)
(90, 'Cameroon', 'Sub-Saharan Africa', 5.142, 0.07400000000000001, 5.287999999999999)
(91, 'Senegal', 'Sub-Saharan Africa', 5.132000000000001, 0.068, 5.266)
(92, 'Albania', 'Central and Eastern Europe', 5.117, 0.059000000000000004, 5.234)
(93, 'North Macedonia', 'Central and Eastern Europe', 5.101, 0.051, 5.202000000000001)
(94, 'Ghana', 'Sub-Saharan Africa', 5.088, 0.067, 5.218999999999999)
(95, 'Niger', 'Sub-Saharan Africa', 5.074, 0.102, 5.273)
(96, 'Turkmenistan', 'Commonwealth of Independent States', 5.066, 0.036000000000000004, 5.136)
(97, 'Gambia', 'Sub-Saharan Africa', 5.051, 0.08900000000000001, 5.225)
(98, 'Benin', 'Sub-Saharan Africa', 5.045, 0.073, 5.189)
(99, 'Laos', 'Southeast Asia', 5.03, 0.045, 5.119)
(100, 'Bangladesh', 'South Asia', 5.025, 0.046, 5.115)
(101, 'Guinea', 'Sub-Saharan Africa', 4.984, 0.09, 5.16)
(102, 'South Africa', 'Sub-Saharan Africa', 4.956, 0.06, 5.074)
(103, 'Turkey', 'Middle East and North Africa', 4.948, 0.046, 5.038)
(104, 'Pakistan', 'South Asia', 4.934, 0.068, 5.066)
(105, 'Morocco', 'Middle East and North Africa', 4.918, 0.06, 5.0360000000000005)
(106, 'Venezuela', 'Latin America and Caribbean', 4.8919999999999995, 0.064, 5.0169999999999995)
(107, 'Georgia', 'Commonwealth of Independent States', 4.891, 0.054000000000000006, 4.998)
(108, 'Algeria', 'Middle East and North Africa', 4.887, 0.053, 4.9910000000000005)
(109, 'Ukraine', 'Commonwealth of Independent States', 4.875, 0.052000000000000005, 4.977)
(110, 'Iraq', 'Middle East and North Africa', 4.854, 0.059000000000000004, 4.97)
(111, 'Gabon', 'Sub-Saharan Africa', 4.852, 0.075, 4.998)
(112, 'Burkina Faso', 'Sub-Saharan Africa', 4.834, 0.081, 4.993)
(113, 'Cambodia', 'Southeast Asia', 4.83, 0.067, 4.963)
(114, 'Mozambique', 'Sub-Saharan Africa', 4.794, 0.10300000000000001, 4.997)
(115, 'Nigeria', 'Sub-Saharan Africa', 4.7589999999999995, 0.052000000000000005, 4.861000000000001)
(116, 'Mali', 'Sub-Saharan Africa', 4.723, 0.08199999999999999, 4.8839999999999995)
(117, 'Iran', 'Middle East and North Africa', 4.721, 0.055, 4.828)
(118, 'Uganda', 'Sub-Saharan Africa', 4.636, 0.073, 4.78)
(119, 'Liberia', 'Sub-Saharan Africa', 4.625, 0.106, 4.833)
(120, 'Kenya', 'Sub-Saharan Africa', 4.607, 0.07200000000000001, 4.747)
(121, 'Tunisia', 'Middle East and North Africa', 4.596, 0.057999999999999996, 4.709)
(122, 'Lebanon', 'Middle East and North Africa', 4.584, 0.055, 4.691)
(123, 'Namibia', 'Sub-Saharan Africa', 4.574, 0.064, 4.7)
(124, 'Palestinian Territories', 'Middle East and North Africa', 4.5169999999999995, 0.067, 4.649)
(125, 'Myanmar', 'Southeast Asia', 4.426, 0.052000000000000005, 4.527)
(126, 'Jordan', 'Middle East and North Africa', 4.395, 0.062, 4.516)
(127, 'Chad', 'Sub-Saharan Africa', 4.355, 0.094, 4.54)
(128, 'Sri Lanka', 'South Asia', 4.325, 0.066, 4.454)
(129, 'Swaziland', 'Sub-Saharan Africa', 4.308, 0.071, 4.448)
(130, 'Comoros', 'Sub-Saharan Africa', 4.289, 0.084, 4.454)
(131, 'Egypt', 'Middle East and North Africa', 4.283, 0.045, 4.371)
(132, 'Ethiopia', 'Sub-Saharan Africa', 4.275, 0.051, 4.374)
(133, 'Mauritania', 'Sub-Saharan Africa', 4.227, 0.07, 4.365)
(134, 'Madagascar', 'Sub-Saharan Africa', 4.208, 0.07200000000000001, 4.349)
(135, 'Togo', 'Sub-Saharan Africa', 4.107, 0.077, 4.258)
(136, 'Zambia', 'Sub-Saharan Africa', 4.073, 0.069, 4.209)
(137, 'Sierra Leone', 'Sub-Saharan Africa', 3.8489999999999998, 0.077, 4.001)
(138, 'India', 'South Asia', 3.819, 0.026000000000000002, 3.8689999999999998)
(139, 'Burundi', 'Sub-Saharan Africa', 3.775, 0.107, 3.985)
(140, 'Yemen', 'Middle East and North Africa', 3.658, 0.07, 3.7939999999999996)
(141, 'Tanzania', 'Sub-Saharan Africa', 3.623, 0.071, 3.762)
(142, 'Haiti', 'Latin America and Caribbean', 3.615, 0.17300000000000001, 3.9530000000000003)
(143, 'Malawi', 'Sub-Saharan Africa', 3.6, 0.092, 3.781)
(144, 'Lesotho', 'Sub-Saharan Africa', 3.512, 0.12, 3.748)
(145, 'Botswana', 'Sub-Saharan Africa', 3.467, 0.07400000000000001, 3.611)
(146, 'Rwanda', 'Sub-Saharan Africa', 3.415, 0.068, 3.548)
(147, 'Zimbabwe', 'Sub-Saharan Africa', 3.145, 0.057999999999999996, 3.259)
(148, 'Afghanistan', 'South Asia', 2.523, 0.038, 2.596)

In [ ]:
import sqlite3

In [ ]:
sql_torepor21_df = pd.read_sql_query("SELECT * from report21_db", sqlite_connection)

# Verify that result of SQL query is stored in the dataframe
print(sql_torepor21_df.head())

2021-04-10 06:21:16,159 INFO sqlalchemy.engine.Engine SELECT * from report21_db

INFO:sqlalchemy.engine.Engine:SELECT * from report21_db

2021-04-10 06:21:16,165 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

   index Country name  ... Standard error of ladder score  upperwhisker
0      0      Finland  ...                          0.032         7.904
1      1      Denmark  ...                          0.035         7.687
2      2  Switzerland  ...                          0.036         7.643
3      3      Iceland  ...                          0.059         7.670
4      4  Netherlands  ...                          0.027         7.518

[5 rows x 6 columns]

# From SQL into the dataframe

In [ ]:
print(sql_torepor21_df.head())

   index Country name  ... Standard error of ladder score  upperwhisker
0      0      Finland  ...                          0.032         7.904
1      1      Denmark  ...                          0.035         7.687
2      2  Switzerland  ...                          0.036         7.643
3      3      Iceland  ...                          0.059         7.670
4      4  Netherlands  ...                          0.027         7.518

[5 rows x 6 columns]

In [ ]:
# using quantile() function to
# find the quantiles over the index axis
sql_torepor21_df.quantile([ .75], axis = 0)

      index  Ladder score  Standard error of ladder score  upperwhisker
0.75  111.0         6.255                            0.07         6.344

In [ ]:
sql_torepor21_df

     index Country name  ... Standard error of ladder score  upperwhisker
0        0      Finland  ...                          0.032         7.904
1        1      Denmark  ...                          0.035         7.687
2        2  Switzerland  ...                          0.036         7.643
3        3      Iceland  ...                          0.059         7.670
4        4  Netherlands  ...                          0.027         7.518
..     ...          ...  ...                            ...           ...
144    144      Lesotho  ...                          0.120         3.748
145    145     Botswana  ...                          0.074         3.611
146    146       Rwanda  ...                          0.068         3.548
147    147     Zimbabwe  ...                          0.058         3.259
148    148  Afghanistan  ...                          0.038         2.596

[149 rows x 6 columns]

In [ ]:
def quantile_disp(df,n):
    if(n<0 or n>100):
      return "Invalid Selection"
    else: 
       quan = n/100
       res_df = df.quantile([ quan], axis = 0)
       return res_df

# Function to display the nth Percentile of dataframe

In [ ]:
quantile_disp(sql_torepor21_df,10)

     index  Ladder score  Standard error of ladder score  upperwhisker
0.1   14.8        4.2232                          0.0368        4.3618

In [ ]:
arr = list(report21_df.columns)
df_tosql_report21 = report21_df[arr[6:8]]
print( arr[6:8])

sql_report_df 
#pd.read_sql_query("SELECT * from report21_db", sqlite_connection)
df_tosql_report21.to_sql('dftosqlreport21', con=sqlite_connection)
sqlite_connection.execute("SELECT * FROM dftosqlreport21").fetchall()

['Logged GDP per capita', 'Social support']
2021-04-10 06:53:35,324 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dftosqlreport21")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("dftosqlreport21")

2021-04-10 06:53:35,328 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2021-04-10 06:53:35,333 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("dftosqlreport21")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("dftosqlreport21")

2021-04-10 06:53:35,336 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2021-04-10 06:53:35,341 INFO sqlalchemy.engine.Engine
CREATE TABLE dftosqlreport21 (
	"index" BIGINT,
	"Logged GDP per capita" FLOAT,
	"Social support" FLOAT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE dftosqlreport21 (
	"index" BIGINT,
	"Logged GDP per capita" FLOAT,
	"Social support" FLOAT
)

2021-04-10 06:53:35,344 INFO sqlalchemy.engine.Engine [no key 0.00278s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00278s] ()

2021-04-10 06:53:35,363 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2021-04-10 06:53:35,365 INFO sqlalchemy.engine.Engine CREATE INDEX ix_dftosqlreport21_index ON dftosqlreport21 ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_dftosqlreport21_index ON dftosqlreport21 ("index")

2021-04-10 06:53:35,369 INFO sqlalchemy.engine.Engine [no key 0.00393s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00393s] ()

2021-04-10 06:53:35,385 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2021-04-10 06:53:35,389 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2021-04-10 06:53:35,397 INFO sqlalchemy.engine.Engine INSERT INTO dftosqlreport21 ("index", "Logged GDP per capita", "Social support") VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO dftosqlreport21 ("index", "Logged GDP per capita", "Social support") VALUES (?, ?, ?)

2021-04-10 06:53:35,402 INFO sqlalchemy.engine.Engine [generated in 0.00673s] ((0, 10.775, 0.9540000000000001), (1, 10.933, 0.9540000000000001), (2, 11.117, 0.9420000000000001), (3, 10.878, 0.983), (4, 10.932, 0.9420000000000001), (5, 11.052999999999999, 0.9540000000000001), (6, 10.867, 0.934), (7, 11.647, 0.9079999999999999)  ... displaying 10 of 149 total bound parameter sets ...  (147, 7.943, 0.75), (148, 7.695, 0.46299999999999997))

INFO:sqlalchemy.engine.Engine:[generated in 0.00673s] ((0, 10.775, 0.9540000000000001), (1, 10.933, 0.9540000000000001), (2, 11.117, 0.9420000000000001), (3, 10.878, 0.983), (4, 10.932, 0.9420000000000001), (5, 11.052999999999999, 0.9540000000000001), (6, 10.867, 0.934), (7, 11.647, 0.9079999999999999)  ... displaying 10 of 149 total bound parameter sets ...  (147, 7.943, 0.75), (148, 7.695, 0.46299999999999997))

2021-04-10 06:53:35,412 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2021-04-10 06:53:35,427 INFO sqlalchemy.engine.Engine SELECT * FROM dftosqlreport21

INFO:sqlalchemy.engine.Engine:SELECT * FROM dftosqlreport21

2021-04-10 06:53:35,430 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

[(0, 10.775, 0.9540000000000001),
 (1, 10.933, 0.9540000000000001),
 (2, 11.117, 0.9420000000000001),
 (3, 10.878, 0.983),
 (4, 10.932, 0.9420000000000001),
 (5, 11.052999999999999, 0.9540000000000001),
 (6, 10.867, 0.934),
 (7, 11.647, 0.9079999999999999),
 (8, 10.642999999999999, 0.948),
 (9, 10.905999999999999, 0.934),
 (10, 10.796, 0.94),
 (11, 10.575, 0.9390000000000001),
 (12, 10.873, 0.903),
 (13, 10.776, 0.9259999999999999),
 (14, 11.342, 0.9470000000000001),
 (15, 9.88, 0.8909999999999999),
 (16, 10.707, 0.934),
 (17, 10.556, 0.9470000000000001),
 (18, 11.023, 0.92),
 (19, 10.823, 0.9059999999999999),
 (20, 10.704, 0.9420000000000001),
 (21, 10.669, 0.862),
 (22, 10.674000000000001, 0.9309999999999999),
 (23, 10.870999999999999, 0.898),
 (24, 11.085, 0.8440000000000001),
 (25, 10.743, 0.8909999999999999),
 (26, 10.571, 0.932),
 (27, 10.623, 0.88),
 (28, 10.529000000000002, 0.948),
 (29, 9.052999999999999, 0.813),
 (30, 9.966000000000001, 0.925),
 (31, 11.488, 0.915),
 (32, 9.318, 0.821),
 (33, 10.369000000000002, 0.9359999999999999),
 (34, 9.577, 0.882),
 (35, 9.859, 0.831),
 (36, 9.186, 0.877),
 (37, 10.499, 0.935),
 (38, 10.575999999999999, 0.802),
 (39, 10.481, 0.941),
 (40, 10.35, 0.8959999999999999),
 (41, 8.836, 0.9179999999999999),
 (42, 10.071, 0.882),
 (43, 10.382, 0.898),
 (44, 10.155, 0.9520000000000001),
 (45, 10.284, 0.8320000000000001),
 (46, 10.817, 0.843),
 (47, 9.787, 0.873),
 (48, 9.054, 0.762),
 (49, 10.008, 0.905),
 (50, 10.315, 0.927),
 (51, 9.557, 0.847),
 (52, 10.357999999999999, 0.943),
 (53, 9.805, 0.888),
 (54, 8.62, 0.8640000000000001),
 (55, 10.610999999999999, 0.884),
 (56, 9.962, 0.898),
 (57, 10.421, 0.879),
 (58, 8.648, 0.812),
 (59, 10.217, 0.924),
 (60, 9.076, 0.83),
 (61, 10.651, 0.799),
 (62, 9.458, 0.8320000000000001),
 (63, 9.59, 0.87),
 (64, 9.454, 0.857),
 (65, 9.312999999999999, 0.821),
 (66, 8.538, 0.893),
 (67, 10.279000000000002, 0.823),
 (68, 9.046, 0.81),
 (69, 9.4, 0.935),
 (70, 9.448, 0.893),
 (71, 9.94, 0.858),
 (72, 9.802, 0.853),
 (73, 10.575999999999999, 0.82),
 (74, 9.853, 0.91),
 (75, 10.189, 0.903),
 (76, 11.0, 0.836),
 (77, 8.091000000000001, 0.86),
 (78, 8.972999999999999, 0.85),
 (79, 9.622, 0.8270000000000001),
 (80, 10.238, 0.8170000000000001),
 (81, 9.365, 0.8109999999999999),
 (82, 8.117, 0.636),
 (83, 9.673, 0.8109999999999999),
 (84, 8.551, 0.644),
 (85, 9.487, 0.799),
 (86, 8.12, 0.774),
 (87, 10.016, 0.9309999999999999),
 (88, 9.826, 0.9129999999999999),
 (89, 9.568999999999999, 0.836),
 (90, 8.189, 0.71),
 (91, 8.118, 0.71),
 (92, 9.52, 0.6970000000000001),
 (93, 9.693, 0.805),
 (94, 8.58, 0.727),
 (95, 7.098, 0.6409999999999999),
 (96, 9.629, 0.983),
 (97, 7.686, 0.69),
 (98, 8.087, 0.489),
 (99, 8.947000000000001, 0.728),
 (100, 8.454, 0.693),
 (101, 7.837999999999999, 0.639),
 (102, 9.402999999999999, 0.86),
 (103, 10.24, 0.8220000000000001),
 (104, 8.458, 0.6509999999999999),
 (105, 8.902999999999999, 0.56),
 (106, 9.073, 0.861),
 (107, 9.585, 0.6709999999999999),
 (108, 9.342, 0.802),
 (109, 9.436, 0.888),
 (110, 9.24, 0.746),
 (111, 9.603, 0.7759999999999999),
 (112, 7.678, 0.672),
 (113, 8.36, 0.765),
 (114, 7.1579999999999995, 0.7440000000000001),
 (115, 8.533, 0.74),
 (116, 7.744, 0.7240000000000001),
 (117, 9.584, 0.71),
 (118, 7.6770000000000005, 0.7809999999999999),
 (119, 7.287999999999999, 0.72),
 (120, 8.361, 0.688),
 (121, 9.266, 0.691),
 (122, 9.626, 0.848),
 (123, 9.161, 0.818),
 (124, 8.485, 0.826),
 (125, 8.541, 0.779),
 (126, 9.182, 0.767),
 (127, 7.364, 0.619),
 (128, 9.47, 0.8270000000000001),
 (129, 9.065, 0.77),
 (130, 8.031, 0.626),
 (131, 9.367, 0.75),
 (132, 7.694, 0.764),
 (133, 8.542, 0.795),
 (134, 7.396, 0.6859999999999999),
 (135, 7.362, 0.569),
 (136, 8.145, 0.708),
 (137, 7.434, 0.63),
 (138, 8.755, 0.603),
 (139, 6.635, 0.49),
 (140, 7.577999999999999, 0.8320000000000001),
 (141, 7.876, 0.7020000000000001),
 (142, 7.477, 0.54),
 (143, 6.957999999999999, 0.537),
 (144, 7.926, 0.787),
 (145, 9.782, 0.784),
 (146, 7.676, 0.552),
 (147, 7.943, 0.75),
 (148, 7.695, 0.46299999999999997)]

# reference https://www.plus2net.com/python/sqlite-colab.php